extends layout

block pagina
    div(class="demo")
      div(class="login")
        div(class="login__check")
        form(class="login__form", action="/session", method="POST")
          div(class="login__row")
            img(src="/images/user.png")
            input(type="text" class="login__input name" placeholder="Username" name="username", required, autofocus)
          div(class="login__row")
            img(src="/images/password.png")
            input(type="password" class="login__input pass" placeholder="Password" name="password", required)
          button(type="submit" class="login__submit") Sing in
          p(class="login__signup") Olvidaste tu contraseña?
  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  script(src="/javascripts/index.js")