extends adtvo

block menu
  form(class="contenedor" action="/adtvo/comunicados" method="POST")
    h2(class="templatemo-site-title") Comunicados
    div(class="col-sm-12 col-md-12")
      div(class="col-sm-6 col-md-6")
        ul(class="contenedor")
          each comunicado in comunicados
            h2(class=texto) #{"Titulo: " + comunicado.titulo}
            p #{"Mensaje: " + comunicado.mensaje}
      div(class="col-sm-6 col-md-6")    
        div(class="form-group")
          input(class="form-control" placeholder="Titulo" name="titulo")
        div(class="form-group")
          textarea(class="form-control" rows="7" placeholder="Escribe tu mensaje" name="mensaje")
        button(class="btn btn-primary" type="submit") Enviar
  script(src="/javascripts/index.js") 