extends docente

block menu  
  form(class="contenedor" action="/docente/eventos" method="POST")
    h2(class="templatemo-site-title") Eventos
    div(class="col-sm-12 col-md-12")
      div(class="col-sm-6 col-md-6")
        ul(class="contenedor")
          h2 Titulo
          p Textp